{% extends 'admin/master.html' %}
{% load static  %}
{% block 'title' %}
Electrician Add
{% endblock %}


{% block 'css' %}{% endblock %}


{% block 'js' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
<script>
  $("#form").validate({
    rules:
    {
      txtname:
      {
        required:true
      },
      txtmobileno:
      {
        required:true
      },
      image:
      {
        required:true
      },
      txtexperience:
      {
        required:true
      },
      txtaboutelec:
      {
        required:true
      },
      txtelecprice:
      {
        required:true
      }
    },
    messages:
    {
      txtname:
      {
        required:"Please enter name"
      },
      txtmobileno:
      {
        required:"Please enter mobile no"
      },
      image:
      {
        required:"Please select image"
      },
      txtexperience:
      {
        required:"Please enter experience"
      },
      txtaboutelec:
      {
        required:"Please enter about elec"
      },
      txtelecprice:
      {
        required:"Please enter price"
      }
    }
  });
</script>
{% endblock %}

{% block 'main' %}
<div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Manage Electrician</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="/customadmin/dashboard" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Add Electrician</li>
  </ul>
</div>
    
    <div class="row gy-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="card-title mb-0">Add Electrician</h5>
                <a href="/customadmin/electrician/view" class="btn btn-neutral-900 text-base radius-8 px-20 py-11">View</a>
            </div>
          </div>
          <div class="card-body">
            
            <form method="POST" id="form" enctype="multipart/form-data" action="/customadmin/electrician/insert">
              {% csrf_token %}
              <div class="row gy-3">
                <div class="col-12">
                    <label class="form-label">Name</label>
                    <input type="text" name="txtname" id="txtname" class="form-control" >
                </div>

                <div class="col-12">
                    <label class="form-label">Mobile Number</label>
                    <input type="text" name="txtmobileno" id="txtmobileno" class="form-control" >
                </div>


                <div class="col-12">
                  <label class="form-label">Img </label>
                  <input type="file" name="image" class="form-control"/>
                </div>

                <div class="col-12">
                    <label class="form-label">City Id</label>
                    <select class="form-control" name="txtcity">
                        {% for row in city %}
                        <option value="{{ row.city_id }}">{{ row.city_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12">
                    <label class="form-label">Experience</label>
                    <input type="text" name="txtexperience" id="txtexperience" class="form-control" >
                </div>

                <div class="col-12">
                    <label class="form-label">About Electrician</label>
                    <input type="text" name="txtaboutelec" id="txtaboutelec" class="form-control" >
                </div>
                
                <div class="col-12">
                   <label class="form-label">Price</label>
                   <input type="text" name="txtelecprice" id="txtelecprice" class="form-control" >
                </div>

                <div class="col-12">
                    <label class="form-label">Is Active</label>
                    <select class="form-control" name="txtactive">
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                  </div>  
                
                <div class="col-12">
                  <button type="submit" class="btn btn-primary-600">Submit</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}