{% extends 'admin/master.html' %}
{% load static  %}
{% block 'title' %}
Company Edit
{% endblock %}


{% block 'css' %}{% endblock %}


{% block 'js' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
<script>
  $("#form").validate({
    rules:
    {
      txtcompanyname:
      {
        required:true
      },
    
    },
    messages:
    {
      txtcompanyname:
      {
        required:"Please enter company name"
      },
    
    }
  });
</script>
{% endblock %}

{% block 'main' %}

<div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Manage Company</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="/customadmin/dashboard" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">Edit company</li>
  </ul>
</div>
    
    <div class="row gy-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="card-title mb-0">Edit Company</h5>
                <a href="/customadmin/company/view" class="btn btn-neutral-900 text-base radius-8 px-20 py-11">View</a>
            </div>
          </div>
          <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
              <form method="POST" id="form" enctype="multipart/form-data" action="/customadmin/company/update/{{data.company_id}}">
                {% csrf_token %}
                <div class="row gy-3">
                  <div class="col-12">
                    <label class="form-label">Company Name</label>
                    <input type="text" value="{{data.company_name}}" name="txtcompanyname" id="txtcompanyname" class="form-control" >
                  </div>
                    <div class="col-12">
                        <label class="form-label">Company Logo</label>
                        <input type="file" name="txtcompanylogo" class="form-control"/>
                        <br/>
                        <img src="{{ data.company_logo }}" width="50">
                      </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary-600">Update</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}