{% extends 'admin/master.html' %}
{% load static  %}
{% block 'title' %}
User View
{% endblock %}


{% block 'css' %}{% endblock %}


{% block 'js' %}
<script>
    let table = new DataTable('#dataTable');
</script>
{% endblock %}

{% block 'main' %}
<div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Manage User</h6>
  <ul class="d-flex align-items-center gap-2">
    <li class="fw-medium">
      <a href="/customadmin/dashboard" class="d-flex align-items-center gap-1 hover-text-primary">
        <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
        Dashboard
      </a>
    </li>
    <li>-</li>
    <li class="fw-medium">All User</li>
  </ul>
</div>
    
    <div class="card basic-data-table">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title mb-0">All User</h5>
        </div>
      </div>
      <div class="card-body">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
          <thead>
            <tr>
              <th scope="col">
                <div class="form-check style-check d-flex align-items-center">
                  
                  <label class="form-check-label">
                    
                  </label>
                </div>
              </th>
              <th scope="col">First Name</th>
              <th scope="col">Email</th>
              <th scope="col">Last login</th>
              <th scope="col">Is Active</th>
              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
            {% for row in userdata %}
            <tr>
              <td>
                <div class="form-check style-check d-flex align-items-center">
                  
                  <label class="form-check-label">
                    {{ forloop.counter }}
                  </label>
                </div>
              </td>
              <td>{{ row.first_name }}</td>
              <td>{{ row.email }}</td>
              <td>{{ row.last_login}}</td>
              <td>{{ row.is_active }}</td>
              <!-- <td>{{ row.isactive }}</td> -->
              <!-- <td>
                 <a href="javascript:void(0)" class="w-32-px h-32-px bg-success-focus text-success-main rounded-circle d-inline-flex align-items-center justify-content-center">
                  <iconify-icon icon="lucide:edit"></iconify-icon>
                </a>
                 <a href="/customadmin/user/delete/{{row.user_id}}" class="w-32-px h-32-px bg-danger-focus text-danger-main rounded-circle d-inline-flex align-items-center justify-content-center">
                  <iconify-icon icon="mingcute:delete-2-line"></iconify-icon> 
                </a>
              </td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}