{% extends 'user/master.html' %}
{% load static  %}
{% block 'title' %}
Change Password
{% endblock %}


{% block 'css' %}{% endblock %}


{% block 'js' %}{% endblock %}


{% block 'main' %}
<div class="breadcrumb-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h3><a href="#">Home</a></h3>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right"></i>Change Password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- user-login-area-start -->
<div class="user-login-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-title text-center mb-30">
                    <h2>Change Password</h2>
                    <p>For your security, please enter your current password and choose a new one. <br>Make sure your new password is strong and something only you know.</p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3  col-12">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                <form method="POST" action="/updatepassword">
                {% csrf_token %}
                <div class="login-form">
                    <div class="single-login">
                        <label>Current password<span>*</span></label>
                        <input type="text"  name="txtcurrpassword"/>
                    </div>
                    <div class="single-login">
                        <label>New password <span>*</span></label>
                        <input type="text"  name="txtnewpassword"/>
                    </div>
                    <div class="single-login single-login-2">
                        <button type="submit" class="btn btn-dark" >Update</button>
                    </div>
                    <a href="#">Lost your password?</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- user-login-area-end -->

{% endblock %}