{% extends 'user/master.html' %}
{% load static  %}
{% block 'title' %}
Checkout
{% endblock %}


{% block 'css' %}{% endblock %}


{% block 'js' %}{% endblock %}

{% block 'main'%}
<div class="breadcrumb-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h3><a href="#">Home</a></h3>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right"></i>checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->

<!-- checkout-area-start -->
<div class="checkout-area mb-70">
    <div class="container">
         <form method="POST" action="/customadmin/order/rpay">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="checkbox-form">						
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class=" col-lg-12">
                                <div class="country-select">
                                    <label>City <span class="required">*</span></label>
                                    <select name="txtcity">
                                        {% for row in city %}
                                        <option value="{{row.city_id}}">{{row.city_name}}</option>
                                        {% endfor %}
                                    </select> 										
                                </div>
                            </div>
                            
                            <input value="{{finaltotal}}" type="hidden" name="txttotalpayment" placeholder="">
                            
                            <div class="col-lg-12">
                                <div class="checkout-form-list">
                                    <label>Address 1<span class="required">*</span></label>
                                    <input type="text" name="txtaddress1" placeholder="Street address">
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="checkout-form-list">
                                    <label>Address 2<span class="required">*</span></label>
                                    <input type="text" name="txtaddress2" placeholder="Street address">
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="checkout-form-list">
                                    <label>Pincode <span class="required">*</span></label>
                                    <input type="text" name="txtpincode"placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout-form-list">
                                    <label>Pay Type <span class="required">*</span></label>
                                    <select class="form-control" name="txtpaytype">
                                        
                                        <option value="online">Online</option>
                                    </select>
                                </div>
                            </div>
                           
                            <input type="hidden" value="0" name="txtdeliverycharge" placeholder="">
                          							
                        </div>
                      													
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                            
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>							
                                </thead>
                                {% for row in cartdata %}
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            {{row.title}} <strong class="product-quantity">{{row.qty}}</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">Rs. {{row.total}}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td><strong><span class="amount">Rs. {{finaltotal}}</span></strong>
                                        </td>
                                    </tr>								
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="order-button-payment">
                                <input type="submit" value="Place order">
                            </div>
                        </div>
                    </div>
                </div>
            </div>					
        </form>
    </div>
</div>
<!-- checkout-area-end -->

{% endblock %}