{% extends 'user/master.html' %}
{% load static  %}
{% block 'title' %}
Login
{% endblock %}


{% block 'css' %}{% endblock %}


{% block 'js' %}{% endblock %}


{% block 'main' %}
<div class="breadcrumb-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h3><a href="#">Home</a></h3>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right"></i>Forgot Password?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- user-login-area-start -->
<div class="user-login-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-title text-center mb-30">
                    <h2>Forgot Password?</h2>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3  col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="login-form">
                        <div class="single-login">
                            <label>Email<span>*</span></label>
                            <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Reset Password</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div>
</div>
<!-- user-login-area-end -->

{% endblock %}